# Віртуальне середовище
venv/
env/
ENV/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# База даних SQLite (зазвичай не комітять у репозиторій, але дивіться на вимоги вашої лабораторної)
db.sqlite3

# Налаштування середовища
.env

# Кеш та системні файли IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store